@import '~swiper/swiper.min.css';
@import '~swiper/modules/navigation/navigation.min.css';
@import '~swiper/modules/pagination/pagination.min.css';

.my-swiper {
  width: 220px;
  height: 260px;
}

.swiper-slide-img {
  width: 220px;
  height: 260px;
  object-fit: cover;
  background-color: red;
}
