<nb-layout center>
  <nb-layout-header fixed>
    <app-navegation-bar
      class="header-content"
      (selectCategory)="onSelectCategory($event)">
    </app-navegation-bar>
  </nb-layout-header>
  <nb-layout-column style="padding: 10px;">
    <router-outlet></router-outlet>
  </nb-layout-column>
  <nb-layout-footer *ngIf="footerVisibility$ | async" class="footer">
    <div class="footer-content">
      <div class="footer-content-left">
        <span class="subtitle-2">Offer – Sistema de Ofertas em Lojas Físicas </span>
      </div>
      <div class="footer=content-right">
        <button nbButton ghost size="medium" (click)="hideFooter()"><nb-icon icon="close"></nb-icon></button>
      </div>
    </div>
  </nb-layout-footer>
</nb-layout>
