@use '../../../themes.scss' as *;


.create-offer-footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
}

.create-offer-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.create-offer-breadcrumb {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.create-offer-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.create-offer-wrapper-left {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.create-offer-header {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.create-offer-wrapper-right {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  gap: 10px;
}

.ngx-dropzone-custom {
  width: 100%;
  border-style: var(--input-border-style);
  border-width: var(--input-border-width);
  background-color: var(--input-basic-background-color);
  border-color: var(--input-basic-border-color);
  color: var(--input-basic-text-color);
}

ngx-dropzone-label {
  color: var(--input-basic-placeholder-text-color);
}

.error{
  border-color: var(--input-danger-border-color);
}

.create-offer-steps {
  width: 100%;
  height: auto;
  padding: 10px;
  background: nb-theme(background-basic-color-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.create-offer-steps > button {
  width: 100%;
}

.input-range {
  width: 100%;
}

.create-offer-steps-header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

::-webkit-input-placeholder {
  text-align: left;
}

:-moz-placeholder {
  text-align: left;
}

.dialog-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

@media screen and (max-width: 768px) {

  .create-offer-wrapper {
    flex-direction: column;
  }

  .create-offer-wrapper-left {
    width: 100%;
  }

  .create-offer-wrapper-right {
    width: 100%;
    margin-left: 0px;
  }

}

@media screen and (max-width: 450px) {

  .row {
    flex-direction: column;
  }
}
