@use '../../../themes.scss' as *;

.home-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.offers-content {
  width: 75%;
  height: 100%;
}

.offers-itens{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 5px;
}

.offers-itens-row {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
}

.adverts-content {
  width: 218px;
  right: calc((100vw - 660px)/2 - 120px);
  height: 100%;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  position: fixed;
}

.adverts-publish {
  width: 100%;
  height: 250px;
  padding: 10px;
  background: nb-theme(background-basic-color-1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.adverts-social {
  width: 100%;
  height: 116px;
  padding: 10px;
  background: nb-theme(background-basic-color-1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.adverts-social > span{
  margin-bottom: 10px;
}

.adverts-social > button{
  margin-top: 10px;
}

.adverts-social-icons {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
