<div class="my-offers-content">
  <div class="my-offers-breadcrumb">
    <span class="subtitle-2">Ofertas</span>
    <nb-icon icon="chevron-right"></nb-icon>
    <span class="subtitle-2">Minhas Oferta</span>
  </div>
  <div class="my-offers-wrapper">
    <div class="my-offers-wrapper-left">
      <nb-card>
        <nb-card-header>
            <h6>Minhas Oferta</h6>
        </nb-card-header>
        <nb-card-body>

        </nb-card-body>
      </nb-card>
    </div>
    <div class="my-offers-wrapper-right">
      <app-store-info [storeID]="storeID"></app-store-info>
      <app-social-media></app-social-media>
    </div>
  </div>
</div>
