<div class="detail-offer-content">
  <div class="detail-offer-breadcrumb">
    <span class="subtitle-2">Ofertas</span>
    <nb-icon icon="chevron-right"></nb-icon>
    <span class="subtitle-2">Celulares</span>
    <nb-icon icon="chevron-right"></nb-icon>
    <span class="subtitle-2">{{offer.description}}</span>
  </div>
  <div class="detail-offer-wrapper">
    <div class="detail-offer-wrapper-left">
      <app-card-offer-detail [offer]="offer"></app-card-offer-detail>
      <div class="additional-information">
        <div class="additional-information-header">
          <span class="subtitle">Informações Adicionais</span>
        </div>
        <p>
          {{offer.additionalInformation}}
        </p>
      </div>
      <div class="detail-offer-complements">
        <div class="detail-offer-map">
          <div class="detail-offer-map-header">
            <span class="subtitle">Mapa</span>
          </div>
        </div>
        <div class="detail-offer-comments">
          <div class="detail-offer-comments-header">
            <span class="subtitle">Comentários</span>
          </div>
        </div>
      </div>
    </div>
    <div class="detail-offer-wrapper-right">
      <div class="store-info">
        <div class="store-info-header">
          <span class="subtitle">Informações sobre a Loja</span>
        </div>
      </div>
      <div class="offers-suggestions">
        <div class="offers-suggestions-header">
          <span class="subtitle">Ofertas relacionadas</span>
        </div>
      </div>
      <app-social-media></app-social-media>
    </div>
  </div>
</div>
