<div class="detail-offer-content">
  <div class="detail-offer-breadcrumb">
    <span class="subtitle-2">Ofertas</span>
    <nb-icon icon="chevron-right"></nb-icon>
    <span class="subtitle-2">{{offer.category.name}}</span>
    <nb-icon icon="chevron-right"></nb-icon>
    <span class="subtitle-2">{{offer.description}}</span>
  </div>
  <div class="detail-offer-wrapper">
    <div class="detail-offer-wrapper-left">
      <app-content-offer [offer]="offer" [store]="(store$ |async) ?? storeOffer"></app-content-offer>
    </div>
    <div class="detail-offer-wrapper-right">
      <app-store-info [store]="(store$ |async) ?? storeOffer" ></app-store-info>
      <app-recommendations [description]="offer.description"></app-recommendations>
      <app-social-media></app-social-media>
    </div>
  </div>
</div>
