.nav-bar-content {
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  height: 36px;
  cursor: pointer;
}

.search-input {
  width: 400px;
}

.nav-bar-actions{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 240px;
}

@media screen and (max-width: 400px) {
  .category-button, .nav-bar-actions {
    display: none;
  }

  .search-input {
    width: 100%;
  }

}
