  <div class="nav-bar-content">
    <img src="assets/logo.png" class="logo" (click)="goToHome()"/>
    <button
      ghost
      nbButton
      size="medium"
      [nbContextMenu]="categories"
      nbContextMenuTag="category-context-menu"
      nbContextMenuTrigger="hover">
      <nb-icon icon="menu-2"></nb-icon>
      Categorias
    </button>
    <nb-form-field
      class="search-input">
      <input
        type="text"
        nbInput
        placeholder="Buscar Oferta"
        fieldSize="large"
        (input)="searchSuggestions($event)"
        [(ngModel)]="searchValue"
        [nbAutocomplete]="auto"
        (keyup.enter)="searchOffers()"
      />
      <button *ngIf="!!searchValue" nbSuffix nbButton ghost (click)="clearSearch()">
        <nb-icon icon="close" pack="eva">
        </nb-icon>
      </button>
    </nb-form-field>

    <nb-autocomplete #auto (selectedChange)="onSelectionChange($event)">

      <nb-option *ngFor="let offer of filteredOptions$ | async" [value]="offer.description">
        {{ offer.description }}
      </nb-option>

    </nb-autocomplete>
    <div class="nav-bar-actions">
      <button nbButton status="basic" (click)="searchOffers()">
        <nb-icon icon="search"></nb-icon>
      </button>
      <button nbButton status="primary">
        <nb-icon icon="plus" (click)="goToCreateOffer()"></nb-icon>
      </button>
      <button nbButton status="default">
        <nb-icon icon="bell"></nb-icon>
      </button>
      <button nbButton outline="" status="primary">Entrar</button>
    </div>
  </div>

