  <div class="nav-bar-content">
    <img src="assets/logo.png" class="logo" (click)="goToHome()"/>
    <button
      class="category-button"
      ghost
      nbButton
      size="medium"
      [nbContextMenu]="categories"
      [nbContextMenuTag]="categoryTag"
      nbContextMenuTrigger="hover">
      <nb-icon icon="menu-2"></nb-icon>
      Categorias
    </button>
    <nb-form-field
      class="search-input">
      <input
        type="text"
        nbInput
        placeholder="Buscar Oferta"
        fieldSize="large"
        (input)="searchSuggestions($event)"
        [(ngModel)]="searchValue"
        [nbAutocomplete]="auto"
        (keyup.enter)="searchOffers()"
      />
      <button *ngIf="!!searchValue" nbSuffix nbButton ghost (click)="clearSearch()">
        <nb-icon icon="close" pack="eva">
        </nb-icon>
      </button>
    </nb-form-field>

    <nb-autocomplete #auto (selectedChange)="onSelectionChange($event)">

      <nb-option *ngFor="let offer of filteredOptions$ | async" [value]="offer.description">
        {{ offer.description }}
      </nb-option>

    </nb-autocomplete>
    <div class="nav-bar-actions">
      <button class="btn-search" nbButton status="basic" (click)="searchOffers()">
        <nb-icon icon="search"></nb-icon>
      </button>
      <button class="btn-create" nbButton status="primary">
        <nb-icon icon="plus" (click)="goToCreateOffer()"></nb-icon>
      </button>
      <button
        *ngIf="!(authenticated$ | async)"
        nbButton outline status="primary"
        (click)="openLogin()">
        <nb-icon *ngIf="mobile" icon="log-in-outline"></nb-icon>
        <span *ngIf="!mobile">Entrar</span>
      </button>
        <button
        *ngIf="(authenticated$ | async)"
        nbButton outline status="basic"
        [nbContextMenu]="profileOptions"
        [nbContextMenuTag]="profileTag"
        nbContextMenuTrigger="hover"
        (mouseenter)="hoverMenu()">
        <nb-icon *ngIf="mobile" icon="menu"></nb-icon>
        <span *ngIf="!mobile">Meu Perfil</span>
        </button>
    </div>
  </div>

