@use '../../../../themes.scss' as *;

.social-media-content {
  width: 100%;
  height: 116px;
  padding: 10px;
  background: nb-theme(background-basic-color-1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-media-content > span{
  margin-bottom: 10px;
}

.social-media-content > button{
  margin-top: 10px;
}

.social-media-icons {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
