<div class="social-media-content">
  <span class="subtitle-2">Siga nas redes sociais</span>
  <div class="social-media-icons">
    <fa-icon size="2x" [icon]="facebook"></fa-icon>
    <fa-icon size="2x" [icon]="instagram"></fa-icon>
    <fa-icon size="2x" [icon]="twitter"></fa-icon>
    <fa-icon size="2x" [icon]="mail"></fa-icon>
    <fa-icon size="2x" [icon]="shared"></fa-icon>
  </div>
  <button nbButton ghost size="tiny" (click)="showFooter()">Exibir Rodapé<nb-icon icon="arrow-down"></nb-icon></button>
</div>
